@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin:0;
 min-height: 100vh;
 background-color: hsl(30, 54%, 90%);
 padding: 20px;
 font-family: Outfit;
 color: hsl(30, 10%, 34%);
}
.container {
    background-color: white;
    width: 100%;
    max-width: 40rem;
    height: 50%;
    padding:30px;
    border-radius: 15px;
}
img {
    width: 100%;
    border-radius: 10px;
}
.recipe-title{
    font-family: Young Serif;
    color:hsl(24, 5%, 18%);
    font-weight: 400;
}
.title{
    font-family: Young Serif;
    font-weight: 400;
    color:hsl(14, 45%, 36%);
} 
.prep-time{
    background-color:  hsl(330, 100%, 98%);
    padding:20px;
    border-radius: 10px;
}
.prep-time h2{
    font-size: 20px;
    color:hsl(332, 51%, 32%);
    margin:0;
}
.prep-time ul{
    margin-bottom:0;
}
li::marker{
    color:hsl(14, 45%, 36%);
}
li{
    line-height: 2;
}
.quantity{
    color:hsl(14, 45%, 36%);
    font-weight: 600;
}
hr{
    background-color:hsl(30, 18%, 87%);
    border: none;
    height:1px;
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}
td{
    border-bottom: 1px solid hsl(30, 18%, 87%);;
    padding:10px;
}

@media (max-width: 480px) {

  body {
      padding: 0;
  }

  .container {
      padding: 0;   
      border-radius: 0;
      max-width: 100%;
  }

  .container img {
      width: 100%;
      display: block;
      border-radius: 0;
      margin: 0;
  }

  .content-wrapper {
      padding: 20px; 
  }
}
